@font-face {
    font-family: bomberescort;
    src: url("font//BomberEscort.otf");
}

@font-face {
    font-family: gotham-black;
    src: url("font/Gotham-Black.otf");
}

body {
    background-image: linear-gradient(to right, rgba(4, 16, 45, 0.6), rgba(247, 86, 124, 0.15));
    background-color: rgba(4, 16, 45, 1);
}

svg {
    display: block;
    margin: auto;
    height: 500px;
    transition: 0.8s;
}

img {
    display: none;
}

.bomberescort {
    font-family: 'bomberescort';
}

.gotham {
    font-family: 'gotham-black';
}

.coming-soon-text {
    display: block;
    margin: auto;
    margin-top: -2%;
    opacity: 0;
    height: 0;
    transition: 1s ease-out;
}

.coming-soon-text-reveal {
    height: auto;
    opacity: 1;
    transition: 1s ease-out;
}

.logo {
    max-width: 400px;
}

.logo-before {
    margin-left: -30px;
}

.logo-after {
    margin-left: -30px;
}

.backline {
    display: none;
}

.header-left {
    position: absolute;
    top: 0;
    left: 0;
}

.header-right {
    position: absolute;
    top: 0;
    right: 0;
}

.mid-left {
    position: absolute;
    top: 30%;
    left: 0;
}

.mid-right {
    display: none;
    position: absolute;
    top: 30%;
    right: 2%;
    font-size: 30px;
    color: #F7567C;
}

.footer-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-mid {
    display: none;
    position: absolute;
    /* top: 30%;   */
    left: 0;
    right: 0;
    bottom: 2%;
    text-align: center;
    font-size: 30px;
}

.footer-mid .fa-instagram {
    color: white;
}

.footer-mid .fa-facebook {
    color: #eaebff;
}

.footer-mid .fa-linkedin {
    color: white;
}

.footer-mid .fa-twitter {
    color: white;
}

.footer-mid .fa-youtube {
    color: white;
}

.footer-mid .fa-tiktok {
    color: rgb(255, 255, 255);
}

.footer-mid .fa-line {
    color: white;
}

.footer-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-right {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* media query */

@media (max-width: 1000px) {
    h1 {
        padding-top: 0%;
        font-size: 2.4rem;
    }
    h3 {
        padding-top: 5%;
        font-size: 2.2rem;
    }
    img {
        max-width: 35%;
    }
    .comingsoon {
        padding-top: 7%;
    }
}

@media (max-width: 800px) {
    h1 {
        padding-top: 0%;
        font-size: 2.8rem;
    }
    h3 {
        padding-top: 10%;
        font-size: 1.6rem;
    }
    img {
        max-width: 30%;
    }
    .logo-before {
        margin-left: -90px;
        transition: 1s;
    }
    .logo-after {
        padding-top: 10%;
        margin: 0;
        margin-left: -20px;
        transition: 1s;
    }
    .comingsoon {
        padding-top: 15%;
    }
}

@media (max-width: 600px) {
    h1 {
        padding-top: 0%;
        font-size: 1.8rem;
    }
    h3 {
        padding-top: 10%;
        font-size: 1.6rem;
    }
    img {
        max-width: 40%;
        max-height: 30%;
    }
    .logo-before {
        margin-left: -100px;
        transition: 1s;
    }
    .logo-after {
        margin: 0;
        margin-left: -20px;
        padding-top: 20%;
        transition: 1s;
    }
    .footer-mid {
        font-size: 20px;
        bottom: 10%;
    }
}

@media (max-width: 500px) {
    h1 {
        padding-top: 0%;
        font-size: 1.4rem;
    }
    h3 {
        padding-top: 7%;
        font-size: 1.2rem;
    }
    img {
        max-width: 30%;
        max-height: 30%;
    }
    .logo-before {
        margin-left: -140px;
        transition: 1s;
    }
    .logo-after {
        margin: 0;
        margin-left: -20px;
        padding-top: 30%;
        transition: 1s;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 2.1rem;
        margin-top: 25px;
    }
    h3 {
        padding-top: 20%;
        font-size: 1rem;
    }
    img {
        max-width: 35%;
        max-height: 25%;
    }
    .logo-before {
        margin-left: -175px;
        transition: 1s;
    }
    .logo-after {
        margin: 0;
        margin-left: -30px;
        padding-top: 40%;
        transition: 1s;
    }
}